


/***************************/
/* -------- FONTS -------- */
/***************************/


@font-face {
	font-family: 'plainblack';
	src: url( 'fonts/plain-black-webfont.woff2' ) format( 'woff2' ),
		 url( 'fonts/plain-black-webfont.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plainblackitalic';
	src: url( 'fonts/plain-blackitalic-webfont.woff2' ) format( 'woff2' ),
		 url( 'fonts/plain-blackitalic-webfont.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plainbold';
	src: url( 'fonts/plain-bold-webfont.woff2' ) format( 'woff2' ),
		 url( 'fonts/plain-bold-webfont.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'plainlight';
    src: url( 'fonts/plain-light-webfont.woff2' ) format( 'woff2' ),
         url( 'fonts/plain-light-webfont.woff' ) format( 'woff' );
    font-weight: normal;
    font-style: normal;

}


