


/*************************/
/* -------- SVG -------- */
/*************************/


.svg { display: none; }

svg, .icon {
	display: block;
	width: 100%;
	height: 100%;
}

#social { fill: $white; }

svg { fill: $white; }


